@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import the font */
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+BE+VLG:wght@100..400&display=swap');

/* Define the custom font class */
.australia-font {
  font-family: 'Edu AU VIC WA NT Hand', cursive;
}

.noto-font{
  font-family: "Noto Sans", sans-serif;
}

.playwrite-font{
  font-family: "Playwrite BE VLG", cursive;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

  .animate-leftright{
    animation: move-right 3s ease-in-out infinite;
  }

  @keyframes move-right {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(10px);
    }
    100% {
      transform: translateX(0);
    }
  }
